<!--table style="width:100%">
    <tr>
      <th>ID</th>
      <th>Email</th>
      <th>Name</th>
      <th>Type</th>
      <th>Sub Type</th>
      <th></th>
    </tr>
    <tr *ngFor = "let form of applicationFormList">
        <td>{{form.id}}</td>
        <td>{{form.email}}</td>
        <td>{{form.name}}</td>
        <td>{{form.type}}</td>
        <td>{{form.subType}}</td>
        <td><button class="btn btn-danger" id="approveButton" *ngIf="form.id != undefined" (click) = "approveButton(form.id)">Approve</button></td>
        <td><button class="btn btn-danger" id="rejectButton" *ngIf="form.id != undefined" (click) = "rejectButton(form.id)">Reject</button></td>
    </tr>
    </table-->
    
    <div class="container-fluid container-padding" id="pendingOffers">
      <div class="d-flex justify-content-center mt-2">
        <button class="btn btn-danger mb-4 secondary-button" id="pendingOfferButton" type="button" data-bs-toggle="collapse" data-bs-target="#pendingOffer" aria-expanded="false" aria-controls="pendingOffer">PENDING OFFERS</button>
      </div>
      
      
      <div class="collapse filteri-container" style="background-color: #222831;" id="pendingOffer">
      <div>
          <table class="table">
              <thead>
                <tr>
                  <th style="background-color: #f05454; color: #dddddd;" scope="col">OFFER NAME</th>
                  <th style="background-color: #f05454; color: #dddddd;" scope="col">OFFER TYPE</th>
                  <th style="background-color: #f05454; color: #dddddd;" scope="col">OFFER SUB-TYPE</th>
                  <th style="background-color: #f05454; color: #dddddd;" scope="col"></th>
                </tr>
              </thead>
              <tbody class="tabela">
                <tr *ngFor = "let form of applicationFormList">
                  <td>{{form.name}}</td>
                  <td>{{form.type}}</td>
                  <td>{{form.subType}}</td>
                  <td><a class="tabela-dugme" role="button" *ngIf="form.id != undefined" (click) = "moreButton(form.id)">MORE</a></td>
              </tbody>
            </table>
      </div>
  </div>
  </div>
